- content_tag_for :tr, template, :class => eo(template_counter) do
  - if template.installed?
    %td.span-23.caption
      = link_to template.caption, admin_template_templated_pages_path(template)
      (not installed)
    %td.last.span-1.action 
      = link_to image_tag('icons/action_stop.gif'), admin_template_path(template.name), :method => :delete
  - else
    %td.span-23.caption
      = template.caption
      (installed)
    %td.last.span-1.action 
      = link_to image_tag('icons/action_save.gif'), admin_template_path(template.name), :method => :put
