<% form_tag bulk_admin_pages_path do %>
<table id="cmPages">
	<thead>
		<tr>
			<th class="cmPageTitle">Title</th>
			<th class="cmPagePath">Path</th>
			<th class="cmTimestamp">Last Modified</th>
			<th class="cmTimestamp">Published</th>
			<th class="cmAction"></th>
		</tr>
	</thead>
	<tbody>
		<%= render :partial => 'page', :collection => @pages %>
	</tbody>
</table>
<p class="controls">
	<%= location_to 'New page', new_admin_page_path %>
	&nbsp;or&nbsp;
	<%= select_bulk_action 'publish', 'revoke', 'destroy' %>
	<%= submit_tag 'selection ...' %>
</p>
<% end %>
