<h2>Pages</h2>

<table id="cmPages">
	<thead>
		<tr>
			<th class="cmPageTitle">Title</th>
			<th class="cmPagePath">URL</th>
			<th class="cmTimestamp">Last Modified</th>
			<th class="cmAction"></th>
			<th class="cmAction"></th>
		</tr>
	</thead>
	<tbody>
		<tr class="cmAction">
			<td colspan="4"></td>
			<td class="cmAction"><%= link_to image_tag('icons/page_new.gif'), new_admin_page_path, :title => 'Click here to create a page.' %></td>
		</tr>
		<%= render :partial => 'page', :collection => @pages %>
		<tr class="cmAction">
			<td colspan="4"></td>
			<td class="cmAction"><%= link_to image_tag('icons/page_new.gif'), new_admin_page_path, :title => 'Click here to create a page.' %></td>
		</tr>
	</tbody>
</table>
