- render_navigation :class => 'box' do
  .last= link_to 'New Page &raquo;', theme_admin_page_path

- form_tag bulk_admin_pages_path do
  %table#pages
    %thead
      %tr
        %th.span-17.path Path
        %th.span-5.timestamp Modified / Published
        %th.last.span-1.action &nbsp;
    %tbody
      = render :partial => @pages

  .append-1.push-1
    = select_bulk_action 'publish', 'revoke', 'destroy'
    = submit_tag 'Pages'
