<h2>New Page</h2>

<% form_for [:admin, @page] do |form| %>
	<%= render :partial => 'form', :object => form %>
	<p class="controls">
		<%= back_to admin_pages_path %>
		<%= submit_tag 'Create' %>
	</p>
<% end %>
