- render_navigation :class => 'box' do
  .last= link_to '&laquo; Pages', admin_pages_path

- form_for [:admin, @page], :url => build_new_admin_page_path do |f|
  = f.select :template_id, ::Template.select_all(:caption__id, :order => 'caption'), :prompt => 'No Template'
  = submit_tag 'Continue'
