public/*.html
LOGIN
log/*
tmp/*
config/database.yml
config/session.key
.DS_Store
session_secret
all.*
*.sqlite3
*.bundle
public/*.atom
public/*.html
!public/404.html
!public/422.html
!public/500.html
