doc/api
config/database.yml
config/session.key
.DS_Store
public/syntaxhighlighter.js
public/plugin_assets
*.o
*.so
all.*
*.sqlite3
*.bundle
public/*.atom
public/*.html
!public/404.html
!public/422.html
!public/500.html
Makefile
