- form_tag bulk_admin_article_comments_path(@article.id) do
  = hidden_field_tag :return_to, admin_article_path(@article.id, :anchor => 'comments')
  %table#comments
    %thead
      %tr
        %th.span-5.commenter Commenter
        %th.span-13.comment Comment
        %th.span-4.commented Commented
        %th.last.span-1.action &nbsp;
    %tbody
      = yield

  .append-1.push-1
    = select_bulk_action 'destroy', 'hide', 'show'
    = submit_tag 'Comments', :class => 'span-3'
