<h2>News</h2>

<table id="cmArticles">
	<thead>
		<tr>
			<th class="cmArticleTitle">Title</th>
			<th class="cmTimestamp">Last Modified</th>
			<th class="cmAction"></th>
			<th class="cmAction"></th>
		</tr>
	</thead>
	<tbody>
		<tr class="cmAction">
			<td colspan="3"></td>
			<td class="cmAction"><%= link_to image_tag('icons/page_new.gif'), new_admin_article_path %></td>
		</tr>
		<%= render :partial => 'article', :collection => @articles %>
		<tr class="cmAction">
			<td colspan="3"></td>
			<td class="cmAction"><%= link_to image_tag('icons/page_new.gif'), new_admin_article_path %></td>
		</tr>
	</tbody>
</table>
