<% form_tag bulk_admin_articles_path do %>
<table id="cmArticles">
	<thead>
		<tr>
			<th class="cmArticleTitle">Title</th>
			<th class="cmArticleIntro">Introduction</th>
			<th class="cmTimestamp">Last Modified</th>
			<th class="cmTimestamp">Published</th>
			<th class="cmAction"></th>
		</tr>
	</thead>
	<tbody>
		<%= render :partial => 'article', :collection => @articles %>
	</tbody>
</table>
<p class="controls">
	<%= location_to 'New article', new_admin_article_path %>
	&nbsp;or&nbsp;
	<%= select_bulk_action 'publish', 'revoke', 'destroy' %>
	<%= submit_tag 'selection ...' %>
</p>
<% end %>
