<% form_for [:cms, @article], :url => admin_articles_path do |form| %>
	<%= render :partial => 'form', :object => form %>
	<p class="controls">
		<%= back_to admin_articles_path %>
		<%= submit_tag 'Create' %>
	</p>
<% end %>
