<br style="clear: both;" />

<h2>New Page</h2>

<% form_for [:content_management, @page] do |form| %>
	<%= render :partial => 'form', :object => form %>
	<p class="controls">
		<%= index_button 'Back' %>
		<%= preview_button 'Preview' %>
		<%= submit_tag 'Create' %>
	</p>
	<div id="preview"></div>
<% end %>
