a {
	color: DarkRed;
	text-decoration: none;
}
a:hover { text-decoration: underline; }
a:visited { color: Brown; }

body {
	border-right: 120px solid Black;
	border-bottom: 20px solid transparent;
	border-left: 120px solid Black;
	font-size: 80%;
	font-family: Verdana, sans-serif;
	margin: 0;
	overflow: scroll;
	padding: 1em 2em;
}

h1 {
	margin: 0;
	text-decoration: underline;
}

img { border: none; }

textarea { width: 100%; }

#logo,
#navigation {
	float: left;
	margin-right: 2em;
}

#navigation ul {
	list-style-type: none;
	padding-left: 0;
}
#navigation ul li {
	float: left;
	margin-right: 2em;
}
#navigation ul li a:visited {
	color: DarkRed;
}

#listOfPlugins {
	background-color: #FAFAFA;
	border: 1px dotted Brown;
	float: right;
	font-size: 75%;
	margin: 3em 0 3em 3em;
	padding: 1.5em;
	width: 220px;
}
#listOfPlugins h2 {
	text-decoration: underline;
	margin-top: 0;
}
#listOfPlugins h3.pluginName {
	font-weight: normal;
	margin: 1em 0 0 0;
}
#listOfPlugins p {
	margin: 0;
}

#content {
	margin: 3em;
	height: 100%;
}


#footer {
	clear: both;
	text-align: right;
}

#footer p {
	font-size: 80%;
	margin: 0;
}

td { vertical-align: top; }
table thead tr th.cmAction, table tbody tr td.cmAction {
	text-align: center;
	width: 20px;
}
table tbody tr td img { vertical-align: bottom; }

tbody tr.cmAction {
	background-color: #FAFAFA;
	border-top: 1px dotted Brown;
	border-bottom: 1px dotted Brown;
	color: Black;
}

#cmPages {
	border-collapse: collapse;
	width: 100%;
}
#cmPages thead tr th { text-align: left; }
#cmPages thead tr th.cmPageTitle,
#cmPages tbody tr td.cmPageTitle { width: 60%; }
#cmPages thead tr th.cmPagePath,
#cmPages tbody tr td.cmPagePath {}
#cmPages tbody tr td { padding: 2px; }

#cmPlugins {
	border-collapse: collapse;
	width: 100%;
}
#cmPlugins thead tr th { text-align: left; }
#cmPlugins thead tr th.cmPluginName,
#cmPlugins tbody tr td.cmPluginName { min-width: 160px; }
#cmPlugins thead tr th.cmPluginFeed,
#cmPlugins tbody tr td.cmPluginFeed { width: 75%; }
#cmPlugins tbody tr td { padding: 2px; }
