code { font-family: 'Verdana'; font-style: italic; }

pre code {
	background-color: #fafafa;
	border: 1px solid Silver;
	color: #000000;
	display: block;
	font-family: monospace;
	font-size: 11px;
	font-style: normal;
	margin-left: 1em;
	overflow: auto;
	padding: 1em 1.5em 1em 1.5em;
}

h1
.ruby .keyword {
	background-color: #fafafa;
	color: #1f60a0;
}
.ruby .punct {
	background-color: #fafafa;
	color: #000000;
	font-weight: bold;
}
.ruby .class {
	background-color: #fafafa;
	color: #a08000;
	font-weight: bold;
}
.ruby .constant {
	background-color: #fafafa;
	color: #008080;
}
.ruby .ident {}
.ruby .comment {
	background-color: #fafafa;
	color: #3f603f;
	font-style: italic;
}
.ruby .symbol {
	background-color: #fafafa;
	color: #800000;
}
.ruby .string {
	background-color: #fafafa;
	color: #bf2f2f;
}
.ruby .regex {
	background-color: #fafafa;
	color: #bf8060;
}

.ruby .number {
	background-color: #fafafa;
	color: #0080a0;
}