<%= error_messages_for 'article', :object => form.object %>

<div>
	<label for="article_title">Title</label>
	<%= form.text_field :title, :size => 60 %>
</div>
<div>
	<label for="article_content_markdown">Content (<%= link_to 'Markdown', 'http://daringfireball.net/projects/markdown/syntax' %>)</label>
	<%= form.text_area :content_markdown, :cols => 78 %>
</div>
