<h2>Edit Article</h2>

<% form_for [:content_management, @article], :url => content_management_news_path do |form| %>
	<%= render :partial => 'form', :object => form %>
	<p class="controls">
		<%= index_button 'Back' %>
		<%= preview_button 'Preview' %>
		<%= submit_tag 'Update' %>
	</p>
	<div id="preview"></div>
<% end %>
