<br style="clear: both;" />

<h2>New Article</h2>

<% form_for [:content_management, @article], :url => content_management_news_index_path do |form| %>
	<%= render :partial => 'form', :object => form %>
	<p class="controls">
		<%= index_button 'Back' %>
		<%= preview_button 'Preview' %>
		<%= submit_tag 'Create' %>
	</p>
	<div id="preview"></div>
<% end %>
