<table id="cmProjects">
	<thead>
		<tr>
			<th class="cmProjectName">Name</th>
			<th class="cmProjectIntroduction">Introduction</th>
			<th class="cmAction"></th>
		</tr>
	</thead>
	<tbody>
		<%= render :partial => 'project', :collection => @projects %>
	</tbody>
</table>
<p class="controls">
	<%= location_to 'New project', new_admin_project_path %>
	&nbsp;or&nbsp;
	<%= select_bulk_action 'destroy' %>
	<%= submit_tag 'selection ...' %>
</p>
