.box= link_to 'New Project &raquo;', new_admin_project_path

- form_tag bulk_admin_projects_path do
  %table#projects
    %thead
      %tr
        %th.span-7.name Name
        %th.span-14.website Website
        %th.span-1.roles Roles
        %th.last.span-1.action &nbsp;
    %tbody
      = render :partial => @projects

  .append-1.push-1
    = select_bulk_action 'destroy'
    = submit_tag 'Projects'
