- render_navigation :class => 'box' do
  .last= link_to '&laquo; Projects', admin_projects_path

- form_for [:admin, @project] do |f|
  = render :partial => 'form', :object => f
  = submit_tag 'Create'
