<br style="clear: both;" />

<%=markdown @page.body %>

<p class="timestamp">Last Modified: <%= @page.updated_at %></p>

<%= remote_new_comment_button_to 'Write comment', comment_page_path(@page, :referer => request.url) %>
<% unless @page.comments.count.zero? %>
<%= link_to_remote_comments "Read comments (#{ @page.comments.count })", page_comments_path(@page) %>
<% end %>
