- content_tag_for :tr, navigation, :class => eo(navigation_counter) do
  %td.span-4.element_id= link_to navigation, admin_navigation_path(navigation)
  %td.span-20.html_attributes&= "#{ navigation.element_id }: #{ navigation.html_attributes.inspect }"
