.box= link_to 'New Navigation &raquo;', new_admin_navigation_path

%table#navigations
  %thead
    %tr
      %th.span-4.label Label
      %th.span-20.path Path
  %tbody
    = render :partial => 'navigation', :collection => @navigations
