.box
  - render_navigation :style => 'float: left;', :class => '' do
    .column= link_to '&laquo; Navigations', admin_navigations_path
    .column= link_to 'Edit', edit_admin_navigation_path(@navigation)
  %br.clear

.prepend-top
  - render :layout => 'nodes' do
    = render :partial => 'node', :collection => @navigation.nodes
