.box
  - render_navigation :style => 'float: left;', :class => '' do
    .column= link_to '&laquo; Categories', admin_categories_path
    .column= link_to 'Show', admin_category_path(@category.id)
  %br.clear

- form_for :category, @category, :url => admin_category_path(@category.id), :html => { :multipart => true, :method => :put } do |f|
  = render :partial => 'form', :object => f
  = submit_tag 'Update'
