- content_tag_for :tr, user, :class => odd(user_counter) do
  %td.span-7.name= link_to h(user.name), edit_admin_user_path(user)
  %td.span-7.email= mail_to user.email, h(user.email)
  %td.span-7.website= link_to h(user.website), user.website if user.website
  %td.last.span-1.action= check_box_tag 'user_ids[]', user.id
