<% form_tag bulk_admin_users_path do %>
<table id="cmUsers">
	<thead>
		<tr>
			<th class="cmUserName">Name</th>
			<th class="cmUserEMail">E-Mail</th>
			<th class="cmAction"></th>
		</tr>
	</thead>
	<tbody>
		<%= render :partial => 'user', :collection => @users %>
	</tbody>
</table>
<p class="controls">
	<%= location_to 'New user', new_admin_user_path %>
	&nbsp;or&nbsp;
	<%= select_bulk_action 'destroy' %>
	<%= submit_tag 'selected ...' %>
</p>
<% end %>
