<% content_tag_for :tr, plugin do %>
<td class="cmPageTitle"><%= plugin.name -%></td>
<td class="cmPagePath"><%= plugin.feed_path -%></td>

<td class="cmAction"><%= link_to image_tag('icons/page_edit.gif'), edit_content_management_plugin_path(plugin) -%></td>
<td class="cmAction"><%= link_to image_tag('icons/page_delete.gif'), content_management_plugin_path(plugin), :method => :delete, :confirm => "Delete '#{ plugin.name }'?" -%></td>
<% end %>
