<h2>Plugins</h2>

<table id="cmPlugins">
	<thead>
		<tr>
			<th class="cmPluginName">Name</th>
			<th class="cmPluginFeed">Feed</th>
			<th class="cmAction"></th>
		</tr>
	</thead>
	<tbody>
		<tr class="cmAction">
			<td colspan="2"></td>
			<td class="cmAction"><%= link_to image_tag('icons/page_new.gif'), new_content_management_plugin_path %></td>
		</tr>
		<%= render :partial => 'plugin', :collection => @plugins %>
		<tr class="cmAction">
			<td colspan="2"></td>
			<td class="cmAction"><%= link_to image_tag('icons/page_new.gif'), new_content_management_plugin_path %></td>
		</tr>
	</tbody>
</table>
