<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>

	<title><%= page_title %></title>
	<%= javascript_include_tag :defaults %>

</head>
<body>

	<h1>Ruby Sequel - The Database Toolkit for Ruby</h1>
	<div id="navigation">
		<ul>
			<li><a href="/plugins">Plugins</a></li>
			<li><a href="/doc">Documentation</a></li>
			<li><a href="/wiki">Wiki</a></li>
			<li><a href="/pages/community">Community</a></li>
		</ul>
	</div>
	<%= remote_list_of_plugins %>

	<%= yield %>

</body>
</html>
